// input[name=username]{background-image: url(/static/img/user.svg);}
// input[name=email]{background-image: url(/static/img/mail.svg);}
// input[type=password]{background-image: url(/static/img/lock.svg);}