@use "standard-vars" as *;

.live-search-results{box-shadow: 5px 3px 15px $pri-dark; position: absolute; width: 50%; z-index: 3;}
.live-search-results li{background: $pri-white; border: 1px solid #CCC; font-size: 1.25rem; padding: 0.5rem 1rem;}
.live-search-results li:nth-child(even){background: $sec-white;}
.live-search-results li:hover{background: #FFF;}