@use "normalize";
@use "standard-vars" as *;
@use "standard";
@use "header";
@use "splash";
@use "transitions";



@font-face {font-family: 'Afacad'; src: url('../fonts/Afacad.ttf') format('truetype'); font-weight: normal;}
@font-face {font-family: 'WixMadefor'; src: url('../fonts/WixMadefor.otf') format('opentype'); font-weight: normal;}
@font-face {font-family: 'WixMadefor'; src: url('../fonts/WixMadeforBold.otf') format('opentype'); font-weight: strong;}

body{font-family: 'WixMadefor';}
#app{display: flex; flex-direction:column; min-height: calc(100vh); width: 100%;}
main{}
footer{background: $pri; height: 75px;}

button.se-btn{background: none;}
h1{font-size: 2.25rem; font-weight: bold;}
main p{font-family: 'Afacad'; font-size: 1.375rem; color: #222; line-height: 2.125rem; margin-bottom: 2rem;}



