@use "normalize";
@use "standard-vars" as *;
@use "standard";


body{background: yellow !important;}
header{background: $white; border-bottom: 1px solid #333;}
.nav{width: auto;}
main{color: blue;}
footer{background: navy; height: 75px;}



$background-color: white;
$text-color: white;

body {
  background-color: $background-color;
  color: $text-color;
}
